<div class="layout">
    <div class="container">
        <div class="reg-container">
            <div class="form-head">
                <div>
                    <span style="font-size: 30px ; color: #4285F4">F</span>
                    <span style="font-size: 30px ; color: #EA4335">u</span>
                    <span style="font-size: 30px ; color: #FBBC05">n</span>
                    <span style="font-size: 30px ; color: #4285F4">d</span>
                    <span style="font-size: 30px ; color: #34A853">o</span>
                    <span style="font-size: 30px ; color: #EA4335">o</span>
                </div>
            </div>
            <div class='form-account'>
                <h1>Find Your Account</h1>
            </div>
            <div>
                <form>
                    <p>Enter your phone number or recovery email</p>
                    <div class="form-group">
                        <mat-form-field appearance="outline" class="form-field">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="Email">
                        </mat-form-field>
                    </div>
                    <div class="form-group buttons">
                        <button class="btn-signup" color="primary">Next</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
