
.container {
    height: auto;
    
}
.heading{
    margin-top: 10px;
    margin-left: 10px;
    border-bottom: groove;
}
.btn{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 60px;
}
.btn button{
    margin-right: 10px;
    margin-bottom: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    justify-content: space-evenly;
}