.layout
{
    display: flex;
    justify-content: flex-start;
    padding-left: 15%;
    padding-right: 15%;
}
.container
{
    display: flex;
    justify-content: center;
    width: 90%;
    padding: 15px;
    border: 1px solid lightgray;
    box-shadow: 0px 0px 10px #00000029;
    border-radius: 20px;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 40px;
    padding-left: 60px;
    padding-right: 20px;
}
.reg-container
{
    display: flex;
    min-width: 60%;
    flex-direction: column;
}
.image
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    text-align: center;
    color: #42515f;
    font-size: 17px;
    padding-left: 20px;
    padding-right: 10px;
}
.form-head
{
    text-transform: capitalize;
    font-weight: 500;
    padding: 15px;
}
.form-account
{
    padding: 15px;
}
.form-group
{
    display: flex;
    justify-content:flex-start; 
    margin-bottom: 10px;
}
mat-form-filed
{
    width: min-content;
}
mat-hint
{
    font-size: small;
    font-size: 12px;
    color: #68696b;
    text-decoration: none;
    padding-bottom: 20px;
}
.form-field
{
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
}
mat-flat-button 
{
    width: 100%;
    border: none;
    color: white;
    background-color: transparent;
}
.btn-instead
{
    font-weight: 500;
    color: #1a73e8;
    padding: 10px;
    border: none;
}
.btn-signup
{
    color: white;
    font-weight: 500;
    background-color: #1a73e8;
    padding: 10px;
    border: none;
    width: 20%;
}
.buttons
{
    display: flex;
    justify-content: space-between;
}