<div class="layout">
    <div class="container">
        <div class="reg-container">
            <div class="form-head">
                <div>
                    <span style="font-size: 30px ; color: #4285F4">F</span>
                    <span style="font-size: 30px ; color: #EA4335">u</span>
                    <span style="font-size: 30px ; color: #FBBC05">n</span>
                    <span style="font-size: 30px ; color: #4285F4">d</span>
                    <span style="font-size: 30px ; color: #34A853">o</span>
                    <span style="font-size: 30px ; color: #EA4335">o</span>
                </div>
            </div>
            <div class='form-account'>
                <h1>Reset Password</h1>
            </div>
            <div>
                <form>
                    <div class="form-group">
                        <mat-form-field appearance="outline" class="form-field">
                            <mat-label>Password</mat-label>
                            <input matInput placeholder="Password">
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                        <mat-form-field appearance="outline" class="form-field">
                            <mat-label>Confirm new password</mat-label>
                            <input matInput placeholder="Confirm new password">
                        </mat-form-field>
                    </div>
                    <p><mat-hint>Use 8 or more characters with a mix of letters, numbers & symbols</mat-hint></p>
                    <div class="form-group form-field">
                        <section>
                            <mat-checkbox>Show Password</mat-checkbox>
                        </section>
                    </div>
                    <div class="form-group buttons">
                        <button class="btn-signup" color="primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
